/* Main.css */

.announcements {
    padding: 20px 80px 80px; /* Add padding to the top and bottom, but keep it larger on the bottom */
}

.announcement {
    position: relative; /* Set position to relative to allow absolute positioning inside */
    background-color: #f9f9f9; /* Background color for each announcement */
    padding: 20px; /* Add padding around each announcement */
    margin-bottom: 20px; /* Add margin between each announcement */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.announcement h2 {
    margin-bottom: 10px; /* Add margin below the title */
    text-align: left; /* Align text to the left */

}

.announcement p {
    margin-bottom: 10px; /* Add margin below each paragraph */
}

.date {
    position: absolute; /* Set position to absolute */
    top: 10px; /* 10px from the top */
    right: 10px; /* 10px from the right */
    font-size: 14px; /* Adjust font size if needed */
    color: #555; /* Adjust color if needed */
}
