.person-block {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
  }
  
  .person-info {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
  }
  
  .person-icon {
    margin-right: 8px; /* Add margin to the right of the icon */
  }
