.team-announcements {
    padding: 20px 80px 80px; /* Add padding to the top and bottom, but keep it larger on the bottom */

}

.team-announcement {
    position: relative; /* Set position to relative to allow absolute positioning inside */
    background-color: #f9f9f9; /* Background color for each announcement */
    padding: 20px; /* Add padding around each announcement */
    margin-bottom: 20px; /* Add margin between each announcement */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    /* width: 50%; */
}

.icon {
  padding-left: 5px;

}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.team-members {
    margin-left: 0px;
    margin-right: 20%;
    padding: 20px 80px 80px; /* Add padding to the top and bottom, but keep it larger on the bottom */

}

.team-announcement h2 {
    margin-bottom: 10px; /* Add margin below the title */
    text-align: left; /* Align text to the left */

}

.team-announcement p {
    margin-bottom: 10px; /* Add margin below each paragraph */
}

.team-announcement.date {
    position: absolute; /* Set position to absolute */
    top: 10px; /* 10px from the top */
    right: 10px; /* 10px from the right */
    font-size: 14px; /* Adjust font size if needed */
    color: #555; /* Adjust color if needed */
}

.team-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 10px;
  }

  .team-header h1 {
    margin-left: 20px;
  }

  .icon-button {
    width: 64px; /* Set the width as needed */
    height: 64px; /* Set the height as needed */
  }
  
  .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  