
.title {
    padding: 20px;
}

.team-name {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Change color as needed */
    margin-bottom: 10px;
  }
  
  .team-description {
    font-size: 16px;
    color: #666; /* Change color as needed */
    line-height: 1.5;
  }
  